<h2>Profile</h2>

<div class="Username">Username: {{user.username}}</div>
<div class="Email">Email: {{user.email}}</div>
{{!-- {{log this}} --}}
{{log post}}
<section>
    <h2>Post made</h2>
    <div id="postList" class="postList">
        {{#each post}}
        <div class="post">
            <img class="postThumbnail" src="/{{thumbnail}}">
            <strong class="postTitle">Video Title:{{title}}</strong>
            <form action="/post/delete/{{id}}" method="post" >
                <button class="deleteVideo" type="submit">
                    <a>
                        Delete
                    </a>
                </button>
            </form>
        </div>
        {{/each}}
    </div>
</section>